<form [formGroup]="taskForm" class="task-item-container">
    <label for="add-task">Add Task</label>
    <input formControlName="taskName" type="text" id="add-task" placeholder="Title"/>
    @if (showError && taskForm.get('taskName')?.invalid) {
            <div class="error">Task Name is required</div>
    }
    <input formControlName="taskDescription" type="text" placeholder="Description" class="description"/>
    <div class="action-btns">
        <button class="icon-btn timer" (click)="dueDate.emit()">
            <span class="icon icon-timer"></span>
        </button>
        <button class="icon-btn tag" (click)="addCategory()">
            <span class="icon icon-tag"></span>
        </button>
        <button class="icon-btn go" (click)="addTask()">
            <span class="icon icon-go"></span>
        </button>
    </div>
    <!-- <input type="submit"> -->
</form>
