<form [formGroup]="taskForm" class="task-item-container">
    <div class="task-item-header">
        <button class="icon-btn" (click)="backBtnCall.emit()">
            <span class="icon icon-add"></span>
        </button>
        <h1>Add Task</h1>
    </div>
    <input formControlName="taskName" type="text" id="add-task" placeholder="Title"/>
    @if (showError && taskForm.get('taskName')?.invalid) {
            <div class="error">Task Name is required</div>
    }
    <input formControlName="taskDescription" type="text" placeholder="Description" class="description"/>
    <div class="action-btns">
        <button class="action-icon-btn timer" (click)="dueDate.emit()" [style]="{'color': dueDateIconColor}">
            <span class="icon icon-timer"></span>
        </button>
        <button class="action-icon-btn tag" (click)="setCategory.emit()" [style]="{'color': categoryColor}">
            <span class="icon icon-tag"></span>
        </button>
        <button class="action-icon-btn go" (click)="addTask()">
            <span class="icon icon-go"></span>
        </button>
    </div>
    <!-- <input type="submit"> -->
</form>
