.timepicker{
  display: flex;
  gap: 10px;
}

.selected-time{
border-bottom: 1px solid white;
border-top: 1px solid white;
padding: 4px 10px;
}

.unselected-time{
  color: #8B8B99;
}

.hour, .minute{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & div{
    margin: 2px 0;
  }
}