<div class="timepicker">
    <div class="hour">
        <div>
            <span class="unselected-time">
                {{ selectedHourIndex == 0 ? hours[11] : hours[selectedHourIndex - 1] }}
            </span>
        </div>
        <div
            (change)="onChange($event)"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event)"
            class="selected-time"
        >
            <span>{{ selectedHour }}</span>
        </div>
        <div>
            <span class="unselected-time">
                {{ selectedHourIndex + 1 == 12 ? hours[0] : hours[selectedHourIndex + 1] }}
            </span>
        </div>
    </div>

   <div class="minute">
        <div>
            <span class="unselected-time">
                {{ selectedMinuteIndex == 0 ? (minutes[11] | displayTime) : minutes[selectedMinuteIndex - 1] | displayTime }}
            </span>
        </div>
        <div
            (change)="onChange($event)"
            (touchstart)="onTouchStartMinute($event)"
            (touchend)="onTouchEndMinute($event)"
            class="selected-time"
        >
            <span>{{ selectedMinute | displayTime }}</span>
        </div>
        <div>
            <span class="unselected-time">
                {{ selectedMinuteIndex + 1 == 12 ? (minutes[0] | displayTime) : minutes[selectedMinuteIndex + 1] | displayTime }}
            </span>
        </div>
    </div>
</div>