$btn-bg-color: #22223B;

button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    color: white;
    // height: 3rem;
    // width: 80%;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    &:active{
        scale: 0.98;
    }
}

.add-btn {
    padding: 0;
    width: 62px;
    height: 62px;
    background-color: #A7A7C9;
    border: 6px solid #A7A7C9;
    border-radius: 100%;
    font-size: larger;
    margin: 0;
}
.action-btn {
    background-color: $btn-bg-color;
    border: 1px solid $btn-bg-color;
}

.cancel-btn {
    background-color: transparent;
    color: $btn-bg-color;
}

.next-btn {
    background-color: transparent;
    color: $btn-bg-color;
}

.back-btn {
    background-color: transparent;
    color: #fff;
    opacity: 70%;
}

.regular-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    border: 1px solid $btn-bg-color;
    color: white;
    img{
        height: 100%;
    }
}
