$btn-bg-color: #C9A1C3;

button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    color: black;
    // height: 3rem;
    // width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active{
        scale: 0.98;
    }
}

[appAddButton] {
    background-color: $btn-bg-color;
    border: 1px solid $btn-bg-color;
    border-radius: 100%;
}

[appActionButton] {
    background-color: $btn-bg-color;
    border: 1px solid $btn-bg-color;
}

[appCancelButton] {
    background-color: transparent;
    color: $btn-bg-color;
}

[appNextButton] {
    background-color: transparent;
    color: $btn-bg-color;
}

[appBackButton] {
    background-color: transparent;
    color: #fff;
    opacity: 70%;
}

[appRegularButton]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    border: 1px solid $btn-bg-color;
    color: white;
    img{
        height: 100%;
    }
}
