<div class="set-category-container">
    <div class="task-item-header">
        <button class="icon-btn" (click)="handleBackBtnClick()">
            <span class="icon icon-down"></span>
        </button>
        <h1>Choose categories</h1>
    </div>
    @if(!showCreateCategory){
        <div class="category-list">
            @for(categoryItem of categoryList; track categoryItem) {
                    <app-category-item *ngIf="selectedCategories.includes(categoryItem.id); else default" [highlighted]="true" [categoryItem]="categoryItem" (onClick)="handleCategory($event)"></app-category-item>
                    
                    <ng-template #default>
                        <app-category-item [categoryItem]="categoryItem" (onClick)="handleCategory($event)"></app-category-item>
                    </ng-template>
            }
        </div>
        <button class="button action-btn" [disabled]="selectedCategories.length === 0" (click)="setCategory()">SAVE</button>
    }
    @else {
        <app-add-category (onCreateCategory)="[handleBackBtnClick(), getCategories()]"></app-add-category>
    }
</div>


