<div class="set-category-container">
    <div class="container-header">
        <span>Choose categories</span>
    </div>
    @if(!showCreateCategory){
        <div class="category-list">
            @for(categoryItem of categoryList; track categoryItem) {
                <app-category-item [categoryItem]="categoryItem" (onClick)="handleCategory($event)"></app-category-item>
            }
        </div>
        <button class="button action-btn" (click)="setCategory()">SAVE</button>
    }
    @else {
        <app-add-category></app-add-category>
    }
</div>