@import '../../../../theme.scss';

.controller-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    // flex-grow: 1;
}

.controller-add{
    // margin-bottom: 25%;
    // background-color: #A7A7C9;
    position: absolute;
    top: -50%;
    border: 6px solid $primary-color;
    border-radius: 100%;
}
.controller-add::before{
    height: 20px;
    width: 20px;
    background-color: $secondary-color;
    position: absolute;
    top: 50%;
    left: -22px;
    content: '';
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 $primary-color;
}
.controller-add::after{
    height: 20px;
    width: 20px;
    background-color: $secondary-color;
    position: absolute;
    top: 50%;
    right: -22px;
    content: '';
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 $primary-color;
}