.controller{
    background-color: #494968;
    width: 90dvw;
    // height: 8dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.controller-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    // flex-grow: 1;
    width: 20%;
    height: 100%;

    & p{
        background-color: transparent;
    }
}

.controller-add{
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5.7dvh;
    border: 10px solid #22223B;
    border-radius: 100%;
    & span{
        font-size: 1.5rem;
        font-weight: 100;
        background-color: transparent;
        color: #22223B;
    }
}
.controller-add::before{
    height: 2.5dvh;
    width: 5dvw;
    background-color: #494968;
    position: absolute;
    top: 4.2dvh;
    left: -7.2dvw;
    content: "";
    border-top-right-radius: 100dvw;
    box-shadow: 3px -5px 0 0 #22223B;
}
.controller-add::after{
    height: 2.5dvh;
    width: 5dvw;
    background-color: #494968;
    position: absolute;
    top: 4.2dvh;
    right: -7.2dvw;
    content: "";
    border-top-left-radius: 100dvw;
    box-shadow: -3px -6px 0 0 #22223B;
}