<div class="controller">
    <!-- home -->
    <div class="controller-item home" [class.active]="isRouteActive('home')" (click)="navigateURL('home')" >
        <span class="icon icon-home-page"></span>
        <p>Home</p>
    </div>
    <!-- calendar -->
    <div class="controller-item calendar" (click)="navigateURL('calendar')">
        <span class="icon icon-calender"></span>
        <p>Calendar</p>
    </div>
    <!-- add item -->
    <div class="controller-item">
        <div class="controller-add" (click)="navigateURL('add-task')">
            <button class="add-btn"><span class="icon icon-add"></span></button>
        </div>
    </div>
    <!-- focus -->
    <div class="controller-item focus" (click)="navigateURL('focus')">
        <span class="icon icon-focus"></span>
        <p>Focus</p>
    </div>
    <!-- profile -->
    <div class="controller-item profile" (click)="navigateURL('profile')">
        <span class="icon icon-profile"></span>
        <p>Profile</p>
    </div>
</div>
