<div class="controller">
    <!-- home -->
    <div class="controller-item">
        <mat-icon>
            roofing
        </mat-icon>
        <p>Home</p>
    </div>
    <!-- calendar -->
    <div class="controller-item">
        <mat-icon color="#A7A7C9">
            calendar_month
        </mat-icon>
        <p>Index</p>
    </div>
    <!-- add item -->
    <div class="controller-item">
        <div class="controller-add">
            <button class="add-btn"><span>+</span></button>
        </div>
    </div>
    <!-- focus -->
    <div class="controller-item">
        <!-- <mat-icon svgIcon="profile">
        </mat-icon> -->
        <p>Index</p>
    </div>
    <!-- profile -->
    <div class="controller-item">
        <mat-icon svgIcon="profile">
        </mat-icon>
        <p>Index</p>
    </div>
</div>
