.app-controller{
    background-color: #494968;
    width: 90dvw;
    height: 8dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}