.stepper-controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // gap: 30px;
}

[appActionButton]{
    // width: 102px;
    // height: 39px;
    margin-bottom: 50px;
}