::ng-deep .mat-bottom-sheet-container {
    background-color: #494968;
    max-height: fit-content !important;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.add-task-container{
    display: flex;
    position: relative;

    & app-task-item, app-due-date, app-category{
        flex: 1;
    }
}

.icon-btn{
position: absolute;
top: 0;
right: 0;
height: fit-content;
width: fit-content;
padding: 0;
background-color: transparent;
}

.icon-down{
    font-size: 12px;
    rotate: 90deg;
}
.icon-add{
    font-size: 12px;
    rotate: 45deg;
}
