.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #494968;
    z-index: 1000;
    height: max-content;
    padding: 20px 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    & app-task-item {
        width: calc(100% - 20px);
    }

    & app-due-date {
        width: 100%;
    }
}

.close-btn{
position: absolute;
right: 5%;
font-size: 12px;
rotate: 45deg;
}