<div class="add-task-container" appClickOutside (clickOutside)="onClickOutside()">
    @switch (activeSetTaskStep) {
        @case ('task-item'){
            <span class="icon icon-add close-btn" (click)="closeAddTask()"></span>
            <app-task-item (dueDate)="addDueDate()"></app-task-item>
        }
        @case ('due-date'){
            <span class="icon icon-down back-btn" (click)="previousStep($event)"></span>
            <app-due-date (selectedDueDate)="setDueDate($event)"></app-due-date>
        }
    }
</div>
