<div class="add-task-container">
    @switch (activeSetTaskStep) {
        @case ('task-item'){
            <app-task-item (submitTask)="submitTask()" (backBtnCall)="closeAddTask()" (dueDate)="activeSetTaskStep = 'due-date'" (setCategory)="activeSetTaskStep = 'category'"></app-task-item>
        }
        @case ('due-date'){
            <app-due-date (dueDataSelected)="activeSetTaskStep = 'task-item'" (backBtnCall)="activeSetTaskStep = 'task-item'"></app-due-date>
        }
        @case ('category'){
            
            <app-category (categoriesSelected)="activeSetTaskStep = 'task-item'" (backBtnCall)="activeSetTaskStep = 'task-item'"></app-category>
        }
    }
</div>
