::ng-deep .mat-bottom-sheet-container {
    background-color: #494968;
    height: fit-content;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.icon-btn{
position: absolute;
top: 2%;
right: 5%;
height: fit-content;
width: fit-content;
padding: 0;
background-color: transparent;
}

.icon-down{
    font-size: 12px;
    rotate: 90deg;
}
.icon-add{
    font-size: 12px;
    rotate: 45deg;
}
