.picker-column {
  position: relative;
  // width: 100%;
  height: 100%;
  overflow: hidden;
}

.picker-scroller {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.picker-item {
  text-align: center;
  cursor: pointer;
}

.picker-item-selected {
  color: #007bff;
}
