.home-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 80dvh;
    margin-top: 20px;
    overflow-y: auto;
}