@import '../../../../../theme.scss';

.stepper{
    display: flex;
    gap: 10px;
}

.step{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $secondary-color;
}

.active-step{
    background-color: $secondary-text-color;
}