$primary-color: #C9A1C3;

.stepper{
    display: flex;
    gap: 10px;
}

.step{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $primary-color;
    opacity: 30%;
}

.active-step{
    opacity: 100%;
}