.step-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

p{
    text-align: center;
}

.img-order{
    order: 3;
}